# **ENGG680 - Introduction to Digital Engineering**
## *Lab Assignment 1: Using Git and Python for Collaborative Coding in Google Colab*

## Preliminary: Certificate of Work
### (5 Marks)

*We, the undersigned, certify that this is our own work, which has been done expressly for this course, either without the assistance of any other party or where appropriate we have acknowledged the work of others. Further, we have read and understood the section in the university calendar on plagiarism/cheating/other academic misconduct and we are aware of the implications thereof. We request that the total mark for this assignment be distributed as follows among group members:*

|          | First Name | Last Name | Signature (Full Name, Date) | Hours | Contribution % |
|----------|------------|-----------|-----------------------------|-------|----------------|
| Member 1: | First Name | Last Name | Signature | Hours | Contribution |
| Member 2: | First Name | Last Name | Signature | Hours | Contribution |
| Member 3: | First Name | Last Name | Signature | Hours | Contribution |
| Member 4: | First Name | Last Name | Signature | Hours | Contribution |

## Part 1: Printing to the Console
### (6 Marks)

In [23]:
# In the space below, please print "Hello, World! Welcome to the Student Gradebook Management System."
# (1 mark)
print("Hello, World! Welcome to the Student Gradebook Management System.")

Hello, World! Welcome to the Student Gradebook Management System.

In [24]:
# Fill in your information using the defined variables below:
# (1 mark)
lab_group_number =  23
intake_year = (2024)
intake_semester = ('fall')

# Using f-strings and the variables above, print "This is implemented by Group <lab_group_number>, for ENGG680 <intake_semester> of <intake_year>"
# (2 marks)

In [33]:
lab_group_number = (' 23')
intake_year = ('2024')
intake_semester = ('fall')

In [34]:
print("This is implemented by Group" + lab_group_number +" for ENGG680 " + intake_semester + " of " + intake_year)

This is implemented by Group 23 for ENGG680 fall of 2024

In [30]:
# Use indexing to print "The subjects involved in this grading system is English and Math." using "subjects" below.
# (2 marks)
subjects = ("English", "Math")

In [46]:
# The subjects involve in coding system is English and Math

In [45]:
print(subjects)

('English', 'Math')

## Part 2: Using Pandas for Data Management and Analytics
### (20 marks)

In [31]:
# In the space below, please import the Pandas library
# (1 mark)
#

In [47]:
import pandas as pd

In [32]:
# Load the student grade CSV files into DataFrames using the defined variables
# (2 marks)
df_english =
df_math =

SyntaxError: invalid syntax (2402808951.py, line 3)

In [49]:
pwd

'c:\\Users\\user\\Downloads'

In [50]:
df= pd.read_csv('studentgrades_english.csv')

In [51]:
df

   firstName  lastName  studentID  grade
0       Emma     Smith      10959     95
1     Sophia  Robinson      75175     88
2       Emma    Taylor      42257     87
3      David  Robinson      55148     86
4    Stephen     Curry      30303     90
5   Isabella  Thompson      72824     88
6    Jasmine     Smith      70385     84
7      James     Jones      87707     76
8      Sarah     Swift      61026     80
9       Anne     Clark      90449     82
10      Ryan    Thomas      62137     92
11    Daniel     White      25477     91
12      Sara       Doe      47991     98
13   Matthew     White      25376     80

In [52]:
df= pd.read_csv('studentgrades_math.csv')

In [53]:
df

   firstName  lastName  studentID  grade
0      James     Jones      87707     92
1      Sarah     Swift      61026     98
2       Anne     Clark      90449     99
3       Ryan    Thomas      62137     89
4     Daniel     White      25477     87
5       Sara       Doe      47991     86
6    Matthew     White      25376     85
7       Emma     Smith      10959     90
8     Sophia  Robinson      75175     95
9       Emma    Taylor      42257     85
10     David  Robinson      55148     87
11   Stephen     Curry      30303     88
12  Isabella  Thompson      72824     79
13   Jasmine     Smith      70385     80

In [43]:
pip install pandas

Collecting pandasNote: you may need to restart the kernel to use updated packages.

  Downloading pandas-2.2.2-cp311-cp311-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.23.2 (from pandas)
  Downloading numpy-2.1.1-cp311-cp311-win_amd64.whl.metadata (59 kB)
     ---------------------------------------- 0.0/59.7 kB ? eta -:--:--
     ------ --------------------------------- 10.2/59.7 kB ? eta -:--:--
     ------ --------------------------------- 10.2/59.7 kB ? eta -:--:--
     ------------------- ------------------ 30.7/59.7 kB 262.6 kB/s eta 0:00:01
     -------------------------- ----------- 41.0/59.7 kB 245.8 kB/s eta 0:00:01
     -------------------------------------- 59.7/59.7 kB 289.5 kB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp311-cp311-win_amd64.whl (11.6 MB)
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
   ---------------------------------------- 0.1/11.6 MB 1.9 MB/s eta 0:00:07
    --------------------------------------- 0.2/11.6 MB 2.4 MB/s eta 0:00:05
   - -------------------------------------- 0.4/11.6 MB 2.8 MB/s eta 0:00:05
   - -------------------------------------- 0.5/11.6 MB 2.7 MB/s eta 0:00:05
   -- ------------------------------------- 0.8/11.6 MB 3.5 MB/s eta 0:00:04
   --- ------------------------------------ 0.9/11.6 MB 3.3 MB/s eta 0:00:04
   ---- ----------------------------------- 1.2/11.6 MB 3.7 MB/s eta 0:00:03
   ---- ----------------------------------- 1.4/11.6 MB 3.8 MB/s eta 0:00:03
   ----- ---------------------------------- 1.6/11.6 MB 3.7 MB/s eta 0:00:03
   ----- ---------------------------------- 1.7/11.6 MB 3.7 MB/s eta 0:00:03
   ------ --------------------------------- 1.9/11.6 MB 3.7 MB/s eta 0:00:03
   ------- -------------------------------- 2.1/11.6 MB 3.8 MB/s eta 0:00:03
   ------- -------------------------------- 2.3/11.6 MB 3.7 MB/s eta 0:00:03
   -------- ------------------------------- 2.4/11.6 MB 3.9 MB/s eta 0:00:03
   -------- ------------------------------- 2.5/11.6 MB 3.7 MB/s eta 0:00:03
   --------- ------------------------------ 2.8/11.6 MB 3.7 MB/s eta 0:00:03
   ---------- ----------------------------- 3.0/11.6 MB 3.8 MB/s eta 0:00:03
   ---------- ----------------------------- 3.1/11.6 MB 3.8 MB/s eta 0:00:03
   ----------- ---------------------------- 3.3/11.6 MB 3.7 MB/s eta 0:00:03
   ----------- ---------------------------- 3.5/11.6 MB 3.8 MB/s eta 0:00:03
   ------------ --------------------------- 3.5/11.6 MB 3.6 MB/s eta 0:00:03
   ------------ --------------------------- 3.7/11.6 MB 3.5 MB/s eta 0:00:03
   ------------- -------------------------- 3.9/11.6 MB 3.6 MB/s eta 0:00:03
   -------------- ------------------------- 4.2/11.6 MB 3.7 MB/s eta 0:00:02
   -------------- ------------------------- 4.4/11.6 MB 3.7 MB/s eta 0:00:02
   --------------- ------------------------ 4.5/11.6 MB 3.6 MB/s eta 0:00:02
   --------------- ------------------------ 4.6/11.6 MB 3.5 MB/s eta 0:00:02
   ---------------- ----------------------- 4.8/11.6 MB 3.6 MB/s eta 0:00:02
   ----------------- ---------------------- 5.0/11.6 MB 3.5 MB/s eta 0:00:02
   ----------------- ---------------------- 5.1/11.6 MB 3.6 MB/s eta 0:00:02
   ----------------- ---------------------- 5.2/11.6 MB 3.5 MB/s eta 0:00:02
   ------------------ --------------------- 5.4/11.6 MB 3.5 MB/s eta 0:00:02
   ------------------ --------------------- 5.5/11.6 MB 3.5 MB/s eta 0:00:02
   ------------------- -------------------- 5.7/11.6 MB 3.5 MB/s eta 0:00:02
   ------------------- -------------------- 5.7/11.6 MB 3.4 MB/s eta 0:00:02
   -------------------- ------------------- 5.9/11.6 MB 3.4 MB/s eta 0:00:02
   -------------------- ------------------- 6.0/11.6 MB 3.4 MB/s eta 0:00:02
   --------------------- ------------------ 6.1/11.6 MB 3.3 MB/s eta 0:00:02
   --------------------- ------------------ 6.3/11.6 MB 3.4 MB/s eta 0:00:02
   ---------------------- ----------------- 6.4/11.6 MB 3.3 MB/s eta 0:00:02
   ---------------------- ----------------- 6.6/11.6 MB 3.4 MB/s eta 0:00:02
   ----------------------- ---------------- 6.7/11.6 MB 3.4 MB/s eta 0:00:02
   ----------------------- ---------------- 6.9/11.6 MB 3.4 MB/s eta 0:00:02
   ------------------------ --------------- 7.0/11.6 MB 3.4 MB/s eta 0:00:02
   ------------------------ --------------- 7.2/11.6 MB 3.3 MB/s eta 0:00:02
   ------------------------- -------------- 7.3/11.6 MB 3.3 MB/s eta 0:00:02
   ------------------------- -------------- 7.5/11.6 MB 3.3 MB/s eta 0:00:02
   -------------------------- ------------- 7.6/11.6 MB 3.3 MB/s eta 0:00:02
   -------------------------- ------------- 7.7/11.6 MB 3.3 MB/s eta 0:00:02
   -------------------------- ------------- 7.8/11.6 MB 3.3 MB/s eta 0:00:02
   --------------------------- ------------ 7.9/11.6 MB 3.3 MB/s eta 0:00:02
   --------------------------- ------------ 8.1/11.6 MB 3.3 MB/s eta 0:00:02
   --------------------------- ------------ 8.1/11.6 MB 3.2 MB/s eta 0:00:02
   ---------------------------- ----------- 8.3/11.6 MB 3.2 MB/s eta 0:00:02
   ---------------------------- ----------- 8.3/11.6 MB 3.2 MB/s eta 0:00:02
   ----------------------------- ---------- 8.4/11.6 MB 3.2 MB/s eta 0:00:01
   ----------------------------- ---------- 8.7/11.6 MB 3.2 MB/s eta 0:00:01
   ------------------------------ --------- 8.8/11.6 MB 3.2 MB/s eta 0:00:01
   ------------------------------ --------- 8.9/11.6 MB 3.2 MB/s eta 0:00:01
   ------------------------------ --------- 8.9/11.6 MB 3.2 MB/s eta 0:00:01
   ------------------------------- -------- 9.2/11.6 MB 3.2 MB/s eta 0:00:01
   ------------------------------- -------- 9.3/11.6 MB 3.2 MB/s eta 0:00:01
   -------------------------------- ------- 9.3/11.6 MB 3.1 MB/s eta 0:00:01
   -------------------------------- ------- 9.5/11.6 MB 3.1 MB/s eta 0:00:01
   --------------------------------- ------ 9.7/11.6 MB 3.1 MB/s eta 0:00:01
   --------------------------------- ------ 9.7/11.6 MB 3.1 MB/s eta 0:00:01
   --------------------------------- ------ 9.7/11.6 MB 3.1 MB/s eta 0:00:01
   --------------------------------- ------ 9.7/11.6 MB 3.1 MB/s eta 0:00:01
   --------------------------------- ------ 9.8/11.6 MB 3.0 MB/s eta 0:00:01
   ---------------------------------- ----- 9.9/11.6 MB 3.0 MB/s eta 0:00:01
   ---------------------------------- ----- 10.1/11.6 MB 3.0 MB/s eta 0:00:01
   ----------------------------------- ---- 10.3/11.6 MB 3.0 MB/s eta 0:00:01
   ----------------------------------- ---- 10.4/11.6 MB 3.0 MB/s eta 0:00:01
   ------------------------------------ --- 10.5/11.6 MB 2.9 MB/s eta 0:00:01
   ------------------------------------ --- 10.6/11.6 MB 2.9 MB/s eta 0:00:01
   ------------------------------------- -- 10.9/11.6 MB 2.9 MB/s eta 0:00:01
   ------------------------------------- -- 11.0/11.6 MB 2.9 MB/s eta 0:00:01
   -------------------------------------- - 11.2/11.6 MB 2.9 MB/s eta 0:00:01
   -------------------------------------- - 11.3/11.6 MB 2.9 MB/s eta 0:00:01
   ---------------------------------------  11.4/11.6 MB 2.8 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.6 MB 2.8 MB/s eta 0:00:01
   ---------------------------------------  11.6/11.6 MB 2.8 MB/s eta 0:00:01
   ---------------------------------------  11.6/11.6 MB 2.8 MB/s eta 0:00:01
   ---------------------------------------- 11.6/11.6 MB 2.8 MB/s eta 0:00:00
Downloading numpy-2.1.1-cp311-cp311-win_amd64.whl (12.9 MB)
   ---------------------------------------- 0.0/12.9 MB ? eta -:--:--
   ---------------------------------------- 0.1/12.9 MB 3.5 MB/s eta 0:00:04
    --------------------------------------- 0.2/12.9 MB 3.6 MB/s eta 0:00:04
   - -------------------------------------- 0.3/12.9 MB 3.6 MB/s eta 0:00:04
   - -------------------------------------- 0.5/12.9 MB 2.9 MB/s eta 0:00:05
   - -------------------------------------- 0.6/12.9 MB 2.9 MB/s eta 0:00:05
   -- ------------------------------------- 0.7/12.9 MB 2.9 MB/s eta 0:00:05
   -- ------------------------------------- 0.9/12.9 MB 3.0 MB/s eta 0:00:04
   --- ------------------------------------ 1.0/12.9 MB 3.0 MB/s eta 0:00:04
   --- ------------------------------------ 1.2/12.9 MB 3.1 MB/s eta 0:00:04
   ---- ----------------------------------- 1.3/12.9 MB 3.0 MB/s eta 0:00:04
   ---- ----------------------------------- 1.4/12.9 MB 3.0 MB/s eta 0:00:04
   ---- ----------------------------------- 1.6/12.9 MB 3.0 MB/s eta 0:00:04
   ----- ---------------------------------- 1.7/12.9 MB 3.1 MB/s eta 0:00:04
   ------ --------------------------------- 1.9/12.9 MB 3.2 MB/s eta 0:00:04
   ------ --------------------------------- 2.2/12.9 MB 3.3 MB/s eta 0:00:04
   ------- -------------------------------- 2.4/12.9 MB 3.5 MB/s eta 0:00:04
   -------- ------------------------------- 2.7/12.9 MB 3.5 MB/s eta 0:00:03
   -------- ------------------------------- 2.8/12.9 MB 3.6 MB/s eta 0:00:03
   --------- ------------------------------ 3.0/12.9 MB 3.6 MB/s eta 0:00:03
   --------- ------------------------------ 3.2/12.9 MB 3.6 MB/s eta 0:00:03
   ---------- ----------------------------- 3.3/12.9 MB 3.6 MB/s eta 0:00:03
   ---------- ----------------------------- 3.5/12.9 MB 3.6 MB/s eta 0:00:03
   ----------- ---------------------------- 3.8/12.9 MB 3.7 MB/s eta 0:00:03
   ------------ --------------------------- 4.0/12.9 MB 3.7 MB/s eta 0:00:03
   ------------- -------------------------- 4.2/12.9 MB 3.8 MB/s eta 0:00:03
   ------------- -------------------------- 4.4/12.9 MB 3.8 MB/s eta 0:00:03
   -------------- ------------------------- 4.6/12.9 MB 3.8 MB/s eta 0:00:03
   -------------- ------------------------- 4.7/12.9 MB 3.9 MB/s eta 0:00:03
   --------------- ------------------------ 4.9/12.9 MB 3.8 MB/s eta 0:00:03
   ---------------- ----------------------- 5.2/12.9 MB 3.9 MB/s eta 0:00:02
   ---------------- ----------------------- 5.4/12.9 MB 3.9 MB/s eta 0:00:02
   ----------------- ---------------------- 5.7/12.9 MB 4.0 MB/s eta 0:00:02
   ------------------ --------------------- 5.8/12.9 MB 4.0 MB/s eta 0:00:02
   ------------------ --------------------- 6.1/12.9 MB 4.0 MB/s eta 0:00:02
   ------------------- -------------------- 6.2/12.9 MB 4.0 MB/s eta 0:00:02
   ------------------- -------------------- 6.3/12.9 MB 4.0 MB/s eta 0:00:02
   -------------------- ------------------- 6.6/12.9 MB 4.0 MB/s eta 0:00:02
   --------------------- ------------------ 6.9/12.9 MB 4.0 MB/s eta 0:00:02
   ---------------------- ----------------- 7.1/12.9 MB 4.0 MB/s eta 0:00:02
   ----------------------- ---------------- 7.4/12.9 MB 4.1 MB/s eta 0:00:02
   ----------------------- ---------------- 7.6/12.9 MB 4.1 MB/s eta 0:00:02
   ------------------------ --------------- 7.9/12.9 MB 4.1 MB/s eta 0:00:02
   ------------------------- -------------- 8.1/12.9 MB 4.1 MB/s eta 0:00:02
   -------------------------- ------------- 8.4/12.9 MB 4.2 MB/s eta 0:00:02
   -------------------------- ------------- 8.7/12.9 MB 4.2 MB/s eta 0:00:02
   --------------------------- ------------ 8.8/12.9 MB 4.2 MB/s eta 0:00:01
   --------------------------- ------------ 9.0/12.9 MB 4.2 MB/s eta 0:00:01
   ----------------------------- ---------- 9.4/12.9 MB 4.2 MB/s eta 0:00:01
   ----------------------------- ---------- 9.6/12.9 MB 4.2 MB/s eta 0:00:01
   ------------------------------ --------- 9.9/12.9 MB 4.3 MB/s eta 0:00:01
   ------------------------------- -------- 10.1/12.9 MB 4.3 MB/s eta 0:00:01
   -------------------------------- ------- 10.4/12.9 MB 4.3 MB/s eta 0:00:01
   --------------------------------- ------ 10.7/12.9 MB 4.5 MB/s eta 0:00:01
   --------------------------------- ------ 10.8/12.9 MB 4.4 MB/s eta 0:00:01
   ---------------------------------- ----- 11.2/12.9 MB 4.5 MB/s eta 0:00:01
   ----------------------------------- ---- 11.4/12.9 MB 4.5 MB/s eta 0:00:01
   ----------------------------------- ---- 11.5/12.9 MB 4.5 MB/s eta 0:00:01
   ------------------------------------ --- 11.8/12.9 MB 4.6 MB/s eta 0:00:01
   ------------------------------------- -- 12.1/12.9 MB 4.7 MB/s eta 0:00:01
   ------------------------------------- -- 12.2/12.9 MB 4.6 MB/s eta 0:00:01
   -------------------------------------- - 12.4/12.9 MB 4.6 MB/s eta 0:00:01
   ---------------------------------------  12.6/12.9 MB 4.6 MB/s eta 0:00:01
   ---------------------------------------  12.8/12.9 MB 4.6 MB/s eta 0:00:01
   ---------------------------------------  12.9/12.9 MB 4.6 MB/s eta 0:00:01
   ---------------------------------------  12.9/12.9 MB 4.6 MB/s eta 0:00:01
   ---------------------------------------- 12.9/12.9 MB 4.4 MB/s eta 0:00:00
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
   ---------------------------------------- 0.0/508.0 kB ? eta -:--:--
   ---------- ----------------------------- 133.1/508.0 kB 7.7 MB/s eta 0:00:01
   ------------------------------ --------- 389.1/508.0 kB 4.0 MB/s eta 0:00:01
   ---------------------------------------- 508.0/508.0 kB 4.0 MB/s eta 0:00:00
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ---------------------------------------- 0.0/345.4 kB ? eta -:--:--
   ---------------------- ----------------- 194.6/345.4 kB 5.8 MB/s eta 0:00:01
   ---------------------------------------  337.9/345.4 kB 4.1 MB/s eta 0:00:01
   ---------------------------------------- 345.4/345.4 kB 3.0 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.1.1 pandas-2.2.2 pytz-2024.2 tzdata-2024.1

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: C:\Users\user\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

import pandas as pd

In [ ]:
# Merging the DataFrames on 'studentID'
df_studentGrades = pd.merge(df_english, df_math, on='studentID', suffixes=('_English', '_Math'))

In [ ]:
# Take a look at the data contained in the csv files. Why is studentID chosen as the key?
# (1 mark)
#

In [ ]:
# Let's calculate the average GPA across the two classes for each student
df_studentGrades['GPA'] = df_studentGrades[['grade_English', 'grade_Math']].mean(axis=1)

# Now let's check the data! In the space below, please use the .head method to display the dataframe.
# (1 mark)
#

In [ ]:
# Do you notice a problem? The rows for first name and last name have been duplicated!
# .drop(columns=['<column_name1>','<column_name2>'] is a Pandas method that can be used to drop columns.
# In the space below, drop the first name and last name associated with the math .csv file.
# (2 mark)
df_studentGrades =

In [ ]:
# Let's display the data again. Use an appropriate method (hint: already used before)
# (1 mark)
#

In [ ]:
# Let's also rename the first and last names appropriately.
# Complete the code in the space below by replacing "<>" with the proper column name
# (1 mark)

df_studentGrades = df_studentGrades.rename(columns={
    'firstName_English': 'firstName',
    '<>': 'lastName',
    '<>': 'englishGrade',
    '<>': 'mathGrade'
    })

In [ ]:
# Now let's find out some statistics about our student grades!
# Please use an appropriate Pandas method in the space below to display statistical values like
# mean, standard deviation, min, max, and others.
# (1 mark)
#

In [ ]:
# Do you notice a problem?
# Some statistics are not relevant. The average of studentIDs have no meaning in reality!
# Let's typecast each column appropriately so as to only get meaningful statistics.
# In the code below, replace '<>' by choosing between 'str' for string or 'float' for float 
# to properly typecast each column.
# (3 marks)
df_studentGrades['studentID'] = df_studentGrades['studentID'].astype(<>)
df_studentGrades['firstName'] = df_studentGrades['firstName'].astype(<>)
df_studentGrades['lastName'] = df_studentGrades['lastName'].astype(<>)
df_studentGrades['englishGrade'] = df_studentGrades['englishGrade'].astype(<>)
df_studentGrades['mathGrade'] = df_studentGrades['mathGrade'].astype(<>)
df_studentGrades['GPA'] = df_studentGrades['GPA'].astype(<>)

In [ ]:
# Now let's see our statistics!
df_studentGrades.describe()

In [ ]:
# Now sort the merged dataframe so that it is in descending order based on GPA, and print it
# (1 mark)
df_studentsGPASorted =

In [ ]:
# If we wanted to access the student with the highest gpa based on df_studentsGPASorted, 
# does .iloc or .loc make more sense and why?
# (2 marks)
#

In [ ]:
# Now using the method you specified, assign the variable below to the row containing the student with the highest GPA
# (1 mark)
top_student =

In [ ]:
# Now print the student first name and last name with the highest GPA in this format:
# "The student with the highest GPA is <firstName> <lastName> with a GPA of <GPA>"
# (1 mark)
#

In [ ]:
# We can use logical expressions to filter and print data. For example, let's print the students with math grades higher than 90:
df_mathGrade_over90 = df_studentsGPASorted[df_studentsGPASorted['mathGrade'] > 90]
print(df_mathGrade_over90)

In [ ]:
# Now print the students whos GPA are lower than 85
# (2 marks)
#

## Part 3: More Data Analytics using Pandas
### (20 marks)

In [ ]:
# Select the column 'grade' from the original English grade dataset and print it
# (1 mark)
#

In [ ]:
# Select the column 'GPA' from the df_studentGrades and print it
# (1 mark)
#

In [ ]:
# What is the data type of grade from the English grade dataset?
# (0.5 mark)
#

# What is the data type of GPA from the merged dataset?
# (0.5 mark)
#

# Is it different? Why?
# (1 mark)
#

In [ ]:
# Load the student homeroom CSV file into a DataFrame using the following variable name
# (1 mark)
df_homeroom =

In [ ]:
# Merge the studentHomerooms with the merged dataset. Make sure that the key you are joining on are the same typecast for both datasets.
# Also ensure that there are no redundant columns, and finally display the first few rows.
# Hint: try joining on more than one column to avoid having to drop redundant columns, ie. on=['studentID', '<ColumnA>', '<ColumnB>'] ...
# (5 marks)
#

In [ ]:
# The code below calculates the mean of each homeroom class.
df_grouped = df_studentInfo.groupby('homeRoom')['GPA'].mean()

# Which homeroom has a higher GPA?
# (1 mark)
#

In [ ]:
# Now let's work with multiple sorts. The .sort_values() method can sort by multiple columns, meaning you can specify a primary column and a secondary column for sorting.
# For example, by=['ColumnA', 'ColumnB'] will first sort by ColumnA and then by ColumnB.
# Create and print a DataFrame, df_studentsGPASorted_homeroom, which is sorted by homeRoom and then by GPA, both in descending order.
# (3 mark)
#

In [ ]:
# Do you notice a problem with the indices? They are basically meaningless now that we have sorted by homeroom and GPA.

# The code below changes the index of the dataframe so that it is more intuitive.
df_studentsGPASorted_homeroom['studentRank'] = df_studentsGPASorted_homeroom.groupby('homeRoom').cumcount() + 1
df_studentsGPASorted_homeroom['newIndex'] = df_studentsGPASorted_homeroom['homeRoom'].astype(str) + '-' + df_studentsGPASorted_homeroom['studentRank'].astype(str)
df_studentsGPASorted_homeroom = df_studentsGPASorted_homeroom.set_index('newIndex')
df_studentsGPASorted_homeroom = df_studentsGPASorted_homeroom.drop(columns=['studentRank'])

print(df_studentsGPASorted_homeroom)

In [ ]:
# Describe what each coding line in the cell above is doing
# (4 marks)
#

In [ ]:
# Given df_studentsGPASorted_homeroom, please find and print the students with the highest GPA in each homeroom using the .loc method.
# (2 marks)
#

## Part 4: Using Matplotlib for Data Analytics
### (14 marks)

In [ ]:
# In the space below, please import the matplotlib library
# (1 mark)

In [ ]:
# Let's use matplotlib to display a histogram of the grades distribution
# Histograms are useful for seeing the distribution of the students grades

plt.figure(figsize=(10, 6))
plt.hist(df_studentGrades['englishGrade'], bins=10, alpha=0.7, label='English Grades', color='blue')

# Step 1: Use the line above as reference to create a histogram for the math grades
# (1 mark)
#

# Step 2: Ensure that your plot is descriptive, so use labels (x and y axis), a title, and a legend.
# Hint: Use the matplotlib .legend(loc='<location>') to add and place the legend.
# You can use 'upper left', 'upper right', 'lower left', and 'lower right' to specify the location.
# (4 marks)
#
plt.grid(True)

# Step 3: Use the .savefig('<image_title>'.png) to output an image file of the histogram.
# Please be sure to use a descriptive title!
# (1 mark)
#

plt.show()

In [ ]:
# Let's also use matplotlib to display a scatter plot of English vs. Math grades
# Scatter plots are useful for seeing the relationship between two variables
plt.figure(figsize=(10, 6))

# Step 1: Use .scatter(x_data, y_data) to create a scatter plot using the English grades on the x-axis, and Math grades on the y-axis
# (2 mark)
#

# Step 1: Properly label the x and y axes as well as the title of your plot.
# (3 marks)
#
plt.grid(True)

# Step 2: Output an image file for the scatter plot with a descriptive file name
# (1 mark)
#

plt.show()

In [ ]:
# From the scatter plot, is there a relationship between the Math and English grades?
# (1 mark)
#